* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Barlow, sans-serif;
}

body {
    display: flex;
    background-color: #EFF6FF;
    border-color: 1px solid #FFFFFF;
    font-family: Barlow, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 800px;
    display: flex;
    margin-left: 0px;
    background-color: white;
}

.picture {
    display: flex;
    position: relative;
    width: 50%;
}

.content {
    width: 50%;
    margin: 10px;
    margin-left: 30px;
}

.big {
    width: 100%;
}

.small {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
}

h1 {
    color: #7B8A92;
    font-size: 18px;
    margin-top: 20px;
    
}
 
h2 {
    color: #2A4A5C;
    font-size: 16px;
    margin-top: 20px;
   
}

.label {
    display: flex;
    gap: 20px;
}

.facebook {
    display: flex;
    color: white;
    border-color: blue;
    height: 50px;
    width: 170px;
    background-color: #1877f2;
    border: none;
    margin-bottom: 30px;
    align-items: center;

}

.facebook img {
    height: 30px;
}

input[type] {
    accent-color: blue;
}

.linkedin img {
    height: 30px;
}
.linkedin {
    display: flex;
    color: white;
    background-color: rgb(0, 102, 255);
    border-color: rgb(0, 102, 255);
    border: none;
    align-items: center;
    margin-bottom: 30px;
    height: 50px;
    width: 170px;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}

.divider::before,
.divider::after {
    content: "";
    flex: 0.43;
    height: 1px;
    background-color: #EEEEEE;
}

.divider span {
    padding: 0 10px;
}

.emph {
    display: flex;
    gap: 20px;
}

.input-box {
  height: 40px;
  width: 100%;
  border: 1px solid #7B8A92;
  position: relative;
}



.input-box input {              
    width: 100%;
    height: 100%;
    padding: 10px;
    position: absolute;
    border: none;
    outline: none;
    padding-left: 10px;
    padding-top: 10xp;
}

.input-box:focus {
    transition: 0.2 s;
}

input:focus {
  border-left: 2px solid #1877f2;
  transition: 0.2;
}

.input-box label {
    position: absolute;
    top: 2px;
    left: 10px;
    color: #7B8A92;
    font-size: 12px;
    pointer-events: none;
    transition: 0.2;
}

.invest {
    width: 50%;
    margin: 10px;
}


h3 {
    color: #7B8A92;
    font-size: 16px;
    margin-top: 20px;
    
}
.circles {
    display: flex;
    margin-top: 10%;
    gap: 10px;
    align-items: center;
}

.info-icon {
    position: relative;
    cursor: pointer;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: white;
    border: 2px solid #EEEEEE;
    font-size: 12px ;
    cursor: pointer;
    transition: 0.3s;
}

.info-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
}

.info-container .popup{
    display: none;
}

.info-icon:hover + .popup {
    display: flex;
    position: absolute;
    top: 20px;
    left: 0;
    background-color: #EEEEEE;
    color: #2A4A5C;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    font-size: 10px;
}


.option {
    width: 100px;
    display: flex;
    gap: 4px;
}


.tx {
    margin-top: 5%;
    border-color: #FFFFFF;;
    width: 200px;
    height: 80px;
    color: #1a465f;
    font-size: 10px;

}

.agree {
    color: #2A4A5C;
    font-size: 10px;
    color: #2A4A5C;
    margin-bottom: 40px;
    margin-top: 30px;
}

a {
    color: #3698fb;
}

.ca {
    background-color:  #3698fb;
    color: white;
    border-radius: 5px;
    border-color: #3698fb;
    font-size: 10px;
    height: 30px;
    width: 150px;
}